VITE_AZURE_CIAM_CLIENT_ID=
VITE_AZURE_CIAM_AUTHORITY=https://auth.helloautoflow.com/5e4f1080-8afc-4005-b05e-32b21e69363a
VITE_AZURE_CIAM_KNOWN_AUTHORITIES=auth.helloautoflow.com
VITE_AZURE_CIAM_TENANT_ID=5e4f1080-8afc-4005-b05e-32b21e69363a
VITE_USE_MOCK=false
